<section class="container-md">
  <h2 class="text-center my-5">Category name</h2>
  <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2">
    <article class="col card border-0">
      <img src="https://picsum.photos/200" class="card-img-top" alt="stock photo">
      <div class="card-body">
        <h5 class="card-title text-center">Special title treatment</h5>
      </div>
    </article>
    <article class="col card border-0">
      <img src="https://picsum.photos/200" class="card-img-top" alt="stock photo">
      <div class="card-body">
        <h5 class="card-title text-center">Special title treatment</h5>
      </div>
    </article>
    <article class="col card border-0">
      <img src="https://picsum.photos/200" class="card-img-top" alt="stock photo">
      <div class="card-body">
        <h5 class="card-title text-center">Special title treatment</h5>
      </div>
    </article>
    <article class="col card border-0">
      <img src="https://picsum.photos/200" class="card-img-top" alt="stock photo">
      <div class="card-body">
        <h5 class="card-title text-center">Special title treatment</h5>
      </div>
    </article>
  </div>
</section>
