<nav class="navbar navbar-expand-md bg-primary-subtle sticky-top">
  <div class="container-md">
    <a class="navbar-brand" [routerLink]="['']">
      <img style="max-height: 80px" class="img-fluid" src="../../assets/milk.png" alt="Milk image">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-md-0 w-100 justify-content-evenly">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['']" [ngClass]="currentRoute == '/' ? 'active' : ''">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about']" [ngClass]="currentRoute == '/about' ? 'active' : ''">O nama</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" [ngClass]="currentRoute == '/products' ? 'active' : ''" role="button" data-bs-toggle="dropdown" aria-expanded="false">Proizvodi</a>
          <ul class="dropdown-menu bg-primary-subtle">
            <li><a class="dropdown-item" [routerLink]="['products']">Svi proizvodi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['products']">Mlijeko</a></li>
            <li><a class="dropdown-item" [routerLink]="['products']">Vrhnja</a></li>
            <li><a class="dropdown-item" [routerLink]="['products']">Maslac, kajmaci i namazi</a></li>
            <li><a class="dropdown-item" [routerLink]="['products']">Sirutka i mlaćenica</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['news']" [ngClass]="currentRoute == '/news' ? 'active' : ''">Novosti</a>
        </li>
        <li class="nav-item dropdown" [ngClass]="currentRoute == '/profile' ? 'active' : ''" *ngIf="isAuthenticated(); else noUser">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{getUsername()}}</a>
          <ul class="dropdown-menu bg-primary-subtle">
            <li><a class="dropdown-item" [routerLink]="['profile']">Moj korisnički račun</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" (click)="logout()">Odjava</a></li>
          </ul>
        </li>
        <ng-template #noUser>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['login']" [ngClass]="currentRoute == '/login' ? 'active' : ''">Prijava</a>
          </li>
        </ng-template>

      </ul>
    </div>
  </div>
</nav>
