<form class="container-md mt-3" style="max-width: 700px">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
    <label for="inputEmail">Email address</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingUsername" placeholder="Username">
    <label for="floatingUsername">Username</label>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
