<section class="container">
  <h1 class="text-center my-5">Novosti</h1>
  <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2">
    <article class="col">
      <div class="card border-0">
        <a href="/">
          <img src="https://picsum.photos/200" class="card-img-top" alt="stock photo">
        </a>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </article>
    <article class="col">
      <div class="card border-0">
        <a href="/">
          <img src="https://picsum.photos/200" class="card-img-top" alt="stock photo">
        </a>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </article>
    <article class="col">
      <div class="card border-0">
        <a href="/">
          <img src="https://picsum.photos/200" class="card-img-top" alt="stock photo">
        </a>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </article>
    <article class="col">
      <div class="card border-0">
        <a href="/">
          <img src="https://picsum.photos/200" class="card-img-top" alt="stock photo">
        </a>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </article>
  </div>
</section>
<section class="container">
  <h1 class="text-center my-5">O nama</h1>
  <p class="text-body-secondary fw-bold">Tradicionalno i prirodno!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt pharetra augue, et commodo justo egestas at. Mauris pretium et augue quis fringilla. Duis sit amet dapibus odio, vitae malesuada augue. Vivamus sed lacus vitae mi pretium placerat quis auctor. </p>
</section>
<section class="container">
  <h1 class="text-center my-5">Proizvodi</h1>
  <div class="btn-group d-flex mb-4" role="group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio1">Mlijeko</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio2">Vrhnja</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio3">Maslac, kajmaci i namazi</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio4">Sirutka i mlaćenica</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio5">Svi proizvodi</label>
  </div>
  <div id="carousel" class="carousel slide w-25 mx-auto">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://picsum.photos/400" class="d-block w-100" alt="...">
        <p class="carousel-caption d-none d-md-block bg-secondary bg-opacity-50">Jogurt</p>
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/400" class="d-block w-100" alt="...">
        <p class="carousel-caption d-none d-md-block bg-secondary bg-opacity-50">Mlijeko</p>
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/400" class="d-block w-100" alt="...">
        <p class="carousel-caption d-none d-md-block bg-secondary bg-opacity-50">Sir :)</p>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
