<section class="container-md">
  <h1 class="text-center my-5">Proizvodi</h1>
  <div class="btn-group d-flex mx-md-5 mb-4" role="group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio1">Mlijeko</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio2">Vrhnja</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio3">Maslac, kajmaci i namazi</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio4">Sirutka i mlaćenica</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio5">Svi proizvodi</label>
  </div>
  <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2">
    <article class="col card border-0">
      <img src="https://picsum.photos/200" class="card-img-top" alt="stock photo">
      <div class="card-body">
        <h5 class="card-title text-center">Special title treatment</h5>
      </div>
    </article>
    <article class="col card border-0">
      <img src="https://picsum.photos/200" class="card-img-top" alt="stock photo">
      <div class="card-body">
        <h5 class="card-title text-center">Special title treatment</h5>
      </div>
    </article>
    <article class="col card border-0">
      <img src="https://picsum.photos/200" class="card-img-top" alt="stock photo">
      <div class="card-body">
        <h5 class="card-title text-center">Special title treatment</h5>
      </div>
    </article>
    <article class="col card border-0">
      <img src="https://picsum.photos/200" class="card-img-top" alt="stock photo">
      <div class="card-body">
        <h5 class="card-title text-center">Special title treatment</h5>
      </div>
    </article>
  </div>
</section>
