<div class="container-md">
  <h1 class="mt-5">{{user?.username}} korisnički račun</h1>
  <div class="accordion accordion-flush mt-3 mb-5">
    <section class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePosts" aria-expanded="false" aria-controls="flush-collapsePosts">
          Novosti
        </button>
      </h2>
      <div id="flush-collapsePosts" class="accordion-collapse collapse row row-cols-1 row-cols-lg-4 row-cols-md-2">
        <article class="col accordion-body" *ngFor="let p of posts">
          <div class="card border-0">
            <img src="{{p.picture}}" class="card-img-top" alt="post image">
            <div class="card-body">
              <h5 class="card-title">{{p.title}}</h5>
              <p class="card-text" *ngIf="isAdmin()">Korisnik: {{getUsernameById(p.idUsers)}}</p>
              <button class="btn btn-warning " data-bs-toggle="modal" data-bs-target="#modalPost" (click)="editPost(p)" *ngIf="isAdmin()">Uredi</button>
            </div>
          </div>
        </article>
      </div>
    </section>
    <section class="accordion-item" *ngIf="isAdmin()">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseProducts" aria-expanded="false" aria-controls="flush-collapseProducts">
          Proizvodi
        </button>
      </h2>
      <div id="flush-collapseProducts" class="accordion-collapse collapse row row-cols-1 row-cols-lg-4 row-cols-md-2">
        <article class="col card border-0 accordion-body">
          <img src="https://picsum.photos/200" class="card-img-top" alt="stock photo">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <button class="btn btn-warning mt-1">Uredi</button>
          </div>
        </article>
        <article class="col card border-0 accordion-body">
          <img src="https://picsum.photos/200" class="card-img-top" alt="stock photo">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <button class="btn btn-warning mt-1">Uredi</button>
          </div>
        </article>
      </div>
    </section>
    <section class="accordion-item" *ngIf="isAdmin()">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCategories" aria-expanded="false" aria-controls="flush-collapseCategories">
          Kategorije
        </button>
      </h2>
      <div id="flush-collapseCategories" class="accordion-collapse collapse">
        <ul class="list-group list-group-flush accordion-body">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>
    </section>
    <section class="accordion-item" *ngIf="isAdmin()">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseUsers" aria-expanded="false" aria-controls="flush-collapseUsers">
          Korisnici
        </button>
      </h2>
      <div id="flush-collapseUsers" class="accordion-collapse collapse">
        <ul class="list-group list-group-flush accordion-body">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>
    </section>
  </div>
  <h1 *ngIf="isAdmin()" class="mt-5">Dodaj</h1>
  <div *ngIf="isAdmin()" class="btn-group mt-3" role="group">
    <input type="radio" class="btn-check" (change)="showNewPost=true; showNewCategory=false; showNewProduct=false" name="btnradio" id="btnradioPost" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradioPost">Novost</label>

    <input type="radio" class="btn-check" (change)="showNewProduct=true; showNewPost=false; showNewCategory=false" name="btnradio" id="btnradioProduct" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradioProduct">Proizvod</label>

    <input type="radio" class="btn-check" (change)="showNewCategory=true; showNewProduct=false; showNewPost=false" name="btnradio" id="btnradioCategory" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradioCategory">Kategorija</label>
  </div>

  <form class="mb-3" *ngIf="showNewPost">
    <div class="form-floating mt-3">
      <input type="text" class="form-control" [(ngModel)]="newPost.picture" id="newPostPictureUrl" placeholder="postPictureUrl" [ngModelOptions]="{standalone: true}">
      <label for="newPostPictureUrl">Link na sliku</label>
    </div>
    <div class="form-floating mt-3">
      <input type="text" class="form-control" [(ngModel)]="newPost.title" id="newPostTitle" placeholder="postTitle" [ngModelOptions]="{standalone: true}">
      <label for="newPostTitle">Naslov objave</label>
    </div>
    <div class="form-floating mt-3">
      <textarea type="text" class="form-control" [(ngModel)]="newPost.text" id="newPostText" placeholder="postText" [ngModelOptions]="{standalone: true}"></textarea>
      <label for="newPostText">Tekst objave</label>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <img class="w-50" src="{{newPost.picture}}" alt="Slika objave nije važeća">
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-outline-secondary me-2" (click)="refreshNewPost()">Vrati na početak</button>
      <button type="button" class="btn btn-primary" (click)="addNewPost()">Dodaj</button>
    </div>
    <div class="alert mt-2" [ngClass]="newPostMessageClass" role="alert">{{newPostMessage}}</div>
  </form>

  <form class="mb-3" *ngIf="showNewProduct">
    <div class="form-floating mt-3">
      <input type="text" class="form-control" [(ngModel)]="newProduct.picture" id="newProductPictureUrl" placeholder="newProductPictureUrl" [ngModelOptions]="{standalone: true}">
      <label for="newProductPictureUrl">Link na sliku</label>
    </div>
    <div class="form-floating mt-3">
      <input type="text" class="form-control" [(ngModel)]="newProduct.name" id="newProductName" placeholder="newProductName" [ngModelOptions]="{standalone: true}">
      <label for="newProductName">Ime proizvoda</label>
    </div>
    <div class="form-floating mt-3">
      <select class="form-select" [(ngModel)]="newProduct.idCategories" id="categorySelect" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</option>
      </select>
      <label for="categorySelect">Kategorija proizvoda</label>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <img class="w-50" src="{{newProduct.picture}}" alt="Slika proizvoda nije važeća">
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-outline-secondary me-2" (click)="refreshNewProduct()">Vrati na početak</button>
      <button type="button" class="btn btn-primary" (click)="addNewProduct()">Dodaj</button>
    </div>
    <div class="alert mt-2" [ngClass]="newProductMessageClass" role="alert">{{newProductMessage}}</div>
  </form>

  <form class="mb-3" *ngIf="showNewCategory">
    <div class="form-floating my-3">
      <input type="text" class="form-control" [(ngModel)]="newCategory.name" id="newCategoryName" placeholder="newCategoryName" [ngModelOptions]="{standalone: true}">
      <label for="newCategoryName">Ime kategorije</label>
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-outline-secondary me-2" (click)="refreshNewCategory()">Vrati na početak</button>
      <button type="button" class="btn btn-primary" (click)="addNewCategory()">Dodaj</button>
    </div>
    <div class="alert mt-2" [ngClass]="newCategoryMessageClass" role="alert">{{newCategoryMessage}}</div>
  </form>

  <!-- Modal -->
  <form class="modal fade" id="modalPost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalPostLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalPostLabel">Edit post {{editingPost.title}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img class="img-fluid" src="{{editingPost.picture}}" alt="Slika objave nije važeća">
          <div class="form-floating mt-3">
            <input type="text" class="form-control" [(ngModel)]="editingPost.picture" id="postPictureUrl" placeholder="postPictureUrl" [ngModelOptions]="{standalone: true}">
            <label for="postPictureUrl">Link na sliku</label>
          </div>
          <div class="form-floating mt-3">
            <input type="text" class="form-control" [(ngModel)]="editingPost.title" id="postTitle" placeholder="postTitle" [ngModelOptions]="{standalone: true}">
            <label for="postTitle">Naslov objave</label>
          </div>
          <div class="form-floating mt-3">
            <textarea type="text" class="form-control" [(ngModel)]="editingPost.text" id="postText" placeholder="postText" [ngModelOptions]="{standalone: true}"></textarea>
            <label for="postText">Tekst objave</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Odustani</button>
          <button type="button" class="btn btn-primary" (click)="saveEditPost()" data-bs-dismiss="modal">Spremi</button>
        </div>
      </div>
    </div>
  </form>
</div>
